<%= simple_form_for @contact_form, url: contacts_path, method: :post do |f| %>
  <div class="hero-unit">
    <%= f.input :name, input_html: { class: 'input-large', required: true } %>
    <%= f.input :email, input_html: { class: 'input-large', required: true } %>
    <%= f.input :subject, input_html: { required: true } %>
    <%= f.input :message, as: :text,
      input_html: { class: 'input-xxlarge', size: '60x5', required: true } %>

    <%= f.button :submit, 'Enviar', class: 'btn btn-info', disabled_with: 'Enviando...' %>
  </div>
<% end %>
